<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>390126440392-6bhubcmm0shr5nsiv9nbo7eikrrhcstr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.390126440392-6bhubcmm0shr5nsiv9nbo7eikrrhcstr</string>
	<key>API_KEY</key>
	<string>AIzaSyAS4PByJzJ5fxv6BfBp00TdJEzsW4vaSpI</string>
	<key>GCM_SENDER_ID</key>
	<string>390126440392</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emirbagdatli.flutterFirebaseAuth</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-auth-85a03</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-auth-85a03.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:390126440392:ios:daf25599e5c802f6337afd</string>
</dict>
</plist>